<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ddem3._2.Properties.Settings._Dem1Skarredin2ConnectionString"
            connectionString="Data Source=sbd\mssql;Initial Catalog=#Dem1Skarredin2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ddem3._2.Properties.Settings._Dem3SkaredinConnectionString"
            connectionString="Data Source=SBD\MSSQL;Initial Catalog=#Dem3Skaredin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>